body {
  margin: 0;
  background-color: black;
  color: red;
}

.header {
  background-image: url(knew2much_banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 245px 0;
}

.header h1 {
  color: red;
  font-weight: bolder;
}

#about-Knew2Much,
.band-history {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: justify;
}

#about-Knew2Much h2,
.band-history h2 {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: black;
  color: red;
  padding: 20px 0;
  margin-top: 20px; /* Added margin-top */
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid red; /* Added border-top */
  padding-top: 20px; /* Added padding-top */
}





.announcement-banner {
  background-color: #ff0000;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
